<h2>Log in</h2>

<%= form_for(resource, url: session_path(resource_name), :html => {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <div class="form-group">
      <%= f.label :email, "Email", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password", class: "col-lg-2 control-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="col-lg-10">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Log In", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </fieldset>
<% end %>
